.classpath
.project
countries/resources/geocode.earth/data/
countries/resources/geocode.earth/meta/
cities/resources/geocode.earth/data/
cities/resources/geocode.earth/meta/
wof/error_log.txt
wof/.settings/
wof/target/
*.loc
countries/resources/geocode.earth/
*.db
ca_addresses/resources/
ca_addresses/.settings/
ca_addresses/error_log.txt
ca_postalcode_updater/.settings/
ca_postalcode_updater/error_log.txt
ca_postalcode_updater/resources/
shared_libraries/.settings/
.settings/
/target/
countries/log/
wof/log/
*.log
